@use "./utils/variables" as *;
@import "./components/navigation";
@import "./components/page-header.scss";

body {
	width: 1600px;
	font-style: normal;
	color: $almost-black;
}
header {
	width: 1600px;
}
